body {
    font-family: 'Josefin Sans';
    font-size: 18px;

    background-image: url('../images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-color: $very-light-grayish-blue;
}