body {
    font-family: 'Josefin Sans';
    font-size: 18px;

    background: url('../images/bg-mobile-light.jpg') no-repeat $very-light-grayish-blue;
    background-size: 100% 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-portrait-up {
        background: url('../images/bg-desktop-light.jpg') no-repeat center 0 / auto;
    }
}

.container {
    width: 87%;
    max-width: 540px;
    margin-top: 2.8rem;
    @include tablet-portrait-up {
        margin-top: 75px;
    }
}