html[data-theme="light-theme"] {
    // PRIMARY COLORS
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    // backgrounds
    --bg-body: hsl(0, 0%, 98%);
    --bg-todo: hsl(0, 0%, 100%);
    --shadow1: rgba(128, 126, 126, .15);
    --shadow2: rgba(128, 126, 126, .1);
    // texts
    --font-todo-footer-hover: hsl(235, 19%, 35%);
    --font-input: hsl(235, 19%, 35%);
    --font-todo-item: hsl(235, 19%, 35%);
    --font-input-placeholder: hsl(240, 11%, 26%);
    --font-todo-complete: hsl(233, 11%, 84%);
    --font-todo-footer: hsl(236, 9%, 61%);
    --font-footer: hsl(236, 9%, 61%);
    --border-bottom: hsl(236, 33%, 92%);
    --circle-todo-item: hsl(236, 33%, 92%);
    // hero image
    --hero-image-mobile: url('../images/bg-mobile-light.jpg');
    --hero-image-desktop: url('../images/bg-desktop-light.jpg');
}

html[data-theme="dark-theme"] {
    // PRIMARY COLORS
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    // backgrounds
    --bg-body: hsl(235, 21%, 11%);
    --bg-todo: hsl(235, 24%, 19%);
    --shadow1: rgba(0, 0, 0, .15);
    --shadow2: rgba(0, 0, 0, .25);
    // texts
    --font-todo-footer-hover: hsl(236, 33%, 92%);
    --font-input: hsl(234, 39%, 85%);
    --font-todo-item: hsl(234, 39%, 85%);
    --font-input-placeholder: hsl(234, 11%, 52%);
    --font-todo-complete: hsl(233, 14%, 35%);
    --font-todo-footer: hsl(233, 14%, 35%);
    --font-footer: hsl(233, 14%, 35%);
    --border-bottom: hsl(237, 14%, 26%);
    --circle-todo-item: hsl(237, 14%, 26%);
    // hero image
    --hero-image-mobile: url('../images/bg-mobile-dark.jpg');
    --hero-image-desktop: url('../images/bg-desktop-dark.jpg');

}