.todo__footer-paragraph {
    text-align: center;
    font-size: 14px;
    color: var(--font-footer);
    margin-top: 6.6rem;

    @include tablet-portrait-up {
        margin-top: 3.3rem;
    }
}

.attribution {
    text-align: center;
    font-size: 11px;
    margin-bottom: 1rem;

    &__link {
        color: hsl(228, 45%, 44%);
    }
}