%button {
    border-style: none;
    background-color: transparent;
}

.button-theme {
    display: block;
    @extend %button;
    width: auto;
    height: 1.25rem;

    @include tablet-portrait-up {
        height: auto;
    }

    @include desktop-up {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.button-delete {
    @extend %button;
    padding: 0;
    // flex container
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet-portrait-up {
        visibility: hidden;
    }

    @include desktop-up {
        cursor: pointer;
    }

    img {
        width: 65%;
        height: 65%;
        pointer-events: none;

        @include tablet-portrait-up {
            width: 100%;
            height: 100%;
        }
    }
}

.button-footer {
    @extend %button;
    color: inherit;

    &--filter {
        font-weight: 700;
        font-size: 14px;

        @include desktop-up {
            cursor: pointer;

            &:hover {
                color: var(--font-todo-footer-hover);
            }
        }
    }

    &--clear {
        font-size: 12px;

        @include tablet-portrait-up {
            font-size: 14px;
        }

        @include desktop-up {
            cursor: pointer;

            &:hover {
                color: var(--font-todo-footer-hover);
            }
        }
    }
}