.button-theme {
    display: block;
    border-style: none;
    background-color: transparent;
    width: auto;
    height: 1.25rem;
    @include tablet-portrait-up {
        height: auto;
    }
    @include desktop-up {
        cursor: pointer;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.button-delete {
    border-style: none;
    background-color: transparent;
    padding: 0;
    // flex container
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet-portrait-up { visibility: hidden; }
    @include desktop-up { cursor: pointer; }
    
    img {
        width: 65%;
        height: 65%;
        pointer-events: none;
        @include tablet-portrait-up {
            width: 100%;
            height: 100%;
        }
    }
}

.button-footer {
    border-style: none;
    background-color: transparent;
    color: inherit;
    
    &--filter {
        font-weight: 700;
        font-size: 14px;
        &:active, &:focus {
            color: $bright-blue;
        }
        @include desktop-up {
            cursor: pointer;
            &:hover {
                color: $very-dark-grayish-blue-2-dt;
            }
        }

        &:first-child {
            color: $bright-blue;
        }
    }
    &--clear {
        font-size: 12px;
        @include tablet-portrait-up {
            font-size: 14px;
        }
        @include desktop-up {
            cursor: pointer;
            &:hover {
                color: $very-dark-grayish-blue-1-dt;
            }
        }
    }
}