.button-theme {
    height: 20px;
    img {
        width: 100%;
        height: 100%;
    }
}

.button-delete {
    border-style: none;
    background-color: transparent;
    padding: 0;
    // flex container
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 65%;
        height: 65%;
        pointer-events: none;
        @include tablet-portrait-up {
            width: 100%;
            height: 100%;
        }
    }

    @include tablet-portrait-up {
        visibility: hidden;
    }
}

.button-footer {
    border-style: none;
    background-color: transparent;
    color: inherit;
    
    &--filter {
        font-weight: 700;
        font-size: 14px;

        &:first-child {
            color: $bright-blue;
        }
    }
    &--clear {
        font-size: 14px;
    }
}