.todo {
    font-size: 12px;

    &__input-wrapper {
        width: 100%;
        padding: 14px 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 6px;
        color: $dark-grayish-blue;
        background-color: $very-light-gray;

        display: flex;
        align-items: center;
        @include tablet-portrait-up {
            font-size: 1.1rem;
            padding: 1.2rem 1.5rem;
            margin-bottom: 1.5rem;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 10px;
            border: 1px solid $light-grayish-blue;

            @include tablet-portrait-up {
                width: 24px;
                height: 24px;
                margin-right: 1.25rem;
            }
        }
    }

    &__input {
        width: 100%;
        border-style: none;
        padding: 0;
        background-color: $very-light-gray;

        &:focus {
            outline: none;
        }
    }

    &__list { /* ul */
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        @include tablet-portrait-up {
            font-size: 1.1rem;
        }

        &-item {
            padding: 1rem 1.3rem;
            color: $very-dark-grayish-blue;
            background-color: $very-light-gray;
            // display container
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $very-light-grayish-blue;

            &:first-child {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            @include tablet-portrait-up {
                padding: 1.25rem 1.5rem;

                &:hover .button-delete {
                    visibility: visible;
                }
            }
        }

        &-label {
            display: flex;
            align-items: center;
            
            .description {
                @include desktop-up {
                    cursor: pointer;
                }
            }
        }
    }
}

.todo-list__footer {
    color: $dark-grayish-blue;
    padding: 1.16rem 1.3rem;
    background-color: $very-light-gray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1.5rem 8px -14px rgba(128, 126, 126, .1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    @include tablet-portrait-up {
        padding: 1.05rem 1.5rem;
    }

    .counter-item {
        font-size: 12px;
        @include tablet-portrait-up {
            font-size: 14px;
        }
    }

    &-filters {
        text-align: center;
        background-color: $very-light-gray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(-48px + -16px);
        padding: 1rem;
        border-radius: 6px;

        @include tablet-portrait-up {
            padding: 0;
            position: relative;
            left: auto;
            right: auto;
            bottom: auto;
        }
    }
}

// Checkbox
.checkbox {
    display: none;

    &-fake {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid $light-grayish-blue;
        // position
        position: relative;
        @include tablet-portrait-up {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1.25rem;
        }
        @include desktop-up {
            cursor: pointer;
        }
    }

    &:checked ~ &-fake {
        background-image: $check-background;
        border-style: none;

        &::after {
            display: block;
            content: url("../images/icon-check.svg");
            // position
            position: absolute;
            top: 20%;
            left: 25%;
            transform: scale(.9);
            @include tablet-portrait-up {
                top: 8%;
                left: 28%;
                transform: scale(1);
            }
        }
    }
    &:checked ~ .description {
        color: $light-grayish-blue;
        text-decoration-line: line-through;
    }
}

.counter-item {
    margin: 0;
}