.todo {
    font-size: 12px;

    &__input {
        width: 100%;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 6px;
        color: $dark-grayish-blue;
    }

    &__list { /* ul */
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        &-item {
            padding: 16px 12px;
            color: $very-dark-grayish-blue;
            background-color: $very-light-gray;
            // display container
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $very-light-grayish-blue;

            &:first-child {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
        }

        &-label {
            // displa container
            display: flex;
            align-items: center;
        }
    }
}

.todo-list__footer {
    color: $dark-grayish-blue;
    padding: 1.23rem 12px;
    background-color: $very-light-gray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    &-filters {
        text-align: center;
        background-color: $very-light-gray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(-53.8px + -16px);
        padding: 1.15rem;
        border-radius: 6px;
    }
}

// Checkbox
.checkbox {
    display: none;

    &-fake {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid $light-grayish-blue;
        // position
        position: relative;
    }

    &:checked ~ &-fake {
        background-image: $check-background;
        border-style: none;

        &::after {
            display: block;
            content: url("../images/icon-check.svg");
            // position
            position: absolute;
            left: 25%;
            top: 20%;
            transform: scale(.9);
        }
    }
    &:checked ~ .description {
        color: $light-grayish-blue;
        text-decoration-line: line-through;
    }
}

.counter-item {
    margin: 0;
}